*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    max-width: 480px;
    margin: 0px auto;
    width: 100%;
    padding: .5em; 
    background: url(/pics/970091.jpg) no-repeat center fixed;
    background-size: cover;
}

.imgpart
{
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
}

.details
{
    text-align: center;
    color: #fff;
    line-height: 60px;
    font-size:12px;
}

h1
{
        font-size:1rem;
        font-weight: bold;
        font-variant: normal;
}

h2{
    font-size: 0.8rem;
}

h3{
    font-size: 0.6rem;
}

/* @media only screen and (max-width: 480px) {
    .imgpart
    {
        width: 100%;
        height: 50%;
    }
    .imgpart img
    {
        width: 50%;
        height: 45%;
        display: block;
        margin: 0 auto;
    }

    .details
    {
        text-align: center;
        color: #fff;
        line-height: 60px;
        font-size:12px;
    }

    .name
    {
        font-size:2rem;
        font-weight: bold;
        font-variant: normal;
    }

    h2{
        font-size: 1.6rem;
    }

    h2{
        font-size: 1.2rem;
    }
  } */

  /* @media only screen and (max-width: 720px) {
    .imgpart
    {
        width: 100%;
        height: 50%;
    }
    .imgpart img
    {
        width: 50%;
        height: 45%;
        display: block;
        margin: 0 auto;
    }

    .details
    {
        text-align: center;
        color: #fff;
        line-height: 60px;
        font-size:12px;
    }

    .name
    {
        font-size:2rem;
        font-weight: bold;
        font-variant: normal;
    }

    h2{
        font-size: 1.6rem;
    }

    h2{
        font-size: 1.2rem;
    }
  } */

  