*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    max-width: 470px;
    margin: 0px auto;
    width: 100%;
<<<<<<< HEAD
    padding: .5em; 
    background: url(/pics/970091.jpg) no-repeat center fixed;
=======
    padding: 1em; 
    background: url(pics/970091.jpg) no-repeat center fixed;
>>>>>>> 4b1b29c3843670853cbb91ba9f6ab4a3374997f5
    background-size: cover;
}

.imgpart
{
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
}

.details
{
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size:12px;
}

h1
{
        font-size:2em;
        font-weight: bold;
        font-weight: 900px;
        font-variant: normal;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1rem;
}

@media only screen and (min-width: 480px) {
    .container
    {
        height: 100vh;
        margin: 0px auto;
        width: 100vw;
        padding: .5em; 
        background: url(/pics/970091.jpg) no-repeat center fixed;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .imgpart
    {
        width: 50%;
        height: 100%;
    }

    .imgpart img
    {
        width: 90%;
        height: 100vh;

    }

    .details
    {
        width: 50%;
        height: 50%;
        line-height: 40px;
        color: #fff;
    }
   

    /* .details
    {
        text-align: center;
        color: #fff;
        line-height: 60px;
        font-size:12px;
    }

    .name
    {
        font-size:2rem;
        font-weight: bold;
        font-variant: normal;
    }

    h2{
        font-size: 1.6rem;
    }

    h2{
        font-size: 1.2rem;
    } */
  }

  /* @media only screen and (max-width: 720px) {
    .imgpart
    {
        width: 100%;
        height: 50%;
    }
    .imgpart img
    {
        width: 50%;
        height: 45%;
        display: block;
        margin: 0 auto;
    }

    .details
    {
        text-align: center;
        color: #fff;
        line-height: 60px;
        font-size:12px;
    }

    .name
    {
        font-size:2rem;
        font-weight: bold;
        font-variant: normal;
    }

    h2{
        font-size: 1.6rem;
    }

    h2{
        font-size: 1.2rem;
    }
<<<<<<< HEAD
  } */

  
=======
  }
>>>>>>> 4b1b29c3843670853cbb91ba9f6ab4a3374997f5
