*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    padding: 10px;
    max-width: 470px;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background:url("../picss/691464-arsenal-logo-wallpaper-2018-1920x1080-meizu.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.imgpart
{
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
}

.details
{
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size:12px;
}

h1
{
        font-size:2em;
        font-weight: bold;
        font-weight: 900px;
        font-variant: normal;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1rem;
}


/* bigger screen */

@media only screen and (min-width: 480px) {
    .container
    {
        /* height: 100vh;
        margin: 0px auto;
        width: 100vw;
        padding: .5em; 
        background: url(/pics/970091.jpg) no-repeat center fixed;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; */

        padding: 10px;
        max-width: 470px;
        width: 100%;
        height: 100vh;
        margin: 0px auto;
        background:url("../picss/691464-arsenal-logo-wallpaper-2018-1920x1080-meizu.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }

    .imgpart
    {
        width: 50%;
        height: 100%;
    }

    .imgpart img
    {
        width: 90%;
        height: 100vh;

    }

    .details
    {
        width: 50%;
        height: 50%;
        line-height: 40px;
        color: #fff;
    }
}